<% title "Tuiter" %>

<% if logged_in? %>
  <% if @user %>
    <%= render 'followerships/form' %>
  <% else %>
    <%= render 'form' %>
  <% end %>
<% end %>

<div id="tuits">
  <%= render @tuits %>
</div>
