<% title "Tuit" %>

<p>
  <strong>Body:</strong>
  <%= @tuit.body %>
</p>

<p>
  <%= link_to "Edit", edit_tuit_path(@tuit) %> |
  <%= link_to "Destroy", @tuit, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", tuits_path %>
</p>
